.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f7c818;
  padding: 8px 16px;
}
.footer-text {
  text-align: center;
  font-weight: bold;
  color: black;
}
