.todoform {
  background-color: white;
  border-radius: 8px;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.modernInput {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 16px;
}
.modernButton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  background-color: #f7c818;
  font-weight: bold;
  cursor: pointer;
}
.inputContainer {
  display: flex;
}
